@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

:root{
    --primary: rgb(5, 110, 145);
    --secondary: #49cbaf;
}

body{
    margin: 0;
    padding: 20px;
    font-family: "Poppins";
    background: var(--secondary);
}

*{
    color: #222;
    margin: 0;
}

button{
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    padding: 8px;
    color: white;
    background: var(--primary);
}

/* header content */
header nav {
    display: flex;
    justify-content:flex-end;
    max-width: 1200px;
    gap: 16px;
    margin: 0 auto;
}

header nav h1 {
    margin-right: auto;
    border-bottom: 2px solid black;
}

header nav a {
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
}

header nav a.active{
    background: var(--primary);
}

/* page content */
main {
    max-width: 1200px;
    margin: 40px auto;
}

/* help layout */
.help-layout nav{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.help-layout nav a{
    padding: 10px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
}

.help-layout nav a:hover{
    border-color: var(--primary);
}

.help-layout nav a.active{
    background:var(--primary)
}


/* FAQs */
.faq .question{
    background: #222;
    padding: 5px 20px;
    border-radius: 15px;
    margin: 20px 0;
}
.faq .question p{
    color: white;
}

.faq .question p strong{
    color: white;
}
.faq h2{
    color: white;
}


/* contact form */
form{
    margin-top: 20px;
}

form input, form textarea{
    color: var(--secondary);
    width: 300px;
    padding: 8px;
    margin-bottom: 30px;
    border: 0;
    border-radius: 15px;
}

form input, form label span, form textarea{
    display: block;
}

form label span {
    margin-bottom: 10px;
}

/* careers page */
.careers p{
    margin: 0
}

.careers a {
    text-decoration: none;
    background: var(--primary);
    display: block;
    margin: 20px 0;
    padding: 20px;
    border-radius: 15px;
}

.careers > a:hover h2{
     color: var(--secondary);
}

.careers > a p{
    font-size: 15px;
    color: beige;
}

/* career details */
.career-details{
    background: var(--primary);
    margin: 20px 0;
    padding: 20px;
    border-radius: 15px;
}

.career-details h2{
    color: white;
    font-size: 28px;
    line-height: 65px;
}

.career-details p{
    color: white;
    font-size: 17px;
}


/* breadcrumbs */
.breadcrumbs{
    max-width: 1200px;
    margin: 20px auto;
}

.breadcrumbs > * {
    display: inline-block;
    margin: 10px;
}

.breadcrumbs .breadcrumb::after{
    content: '>';
    margin-left: 10px;
}

.breadcrumbs .breadcrumb:last-child:after{
    display: none;
}

.breadcrumbs .breadcrumb a {
    color: #222
}